{% macro scripts() -%}
<script src="/js/otp.js"></script>
{%- endmacro %}
{% macro otp_input(name) -%}
{# https://lexingtonthemes.com/blog/how-to-build-an-otp-input-group-with-tailwind-css-and-alpinejs #}
<div class="flex flex-row gap-1" x-data="otpInput" style="position: relative" >
    <input
        id="{{name}}"
        name="{{name}}"
        type="text"
        autocomplete="one-time-code"
        maxlength="6"
        x-model="value"
        x-on:input="onInput"
        x-on:focus="isFocused = true"
        x-on:blur="isFocused = false"
        style="position: absolute; inset: 0; z-index: 10; width: 100%; height: 100%; opacity: 0;
         cursor: text;"
        aria-label="Verification Code"
    />
    <template x-for="(digit, i) in digits" x-bind:key="i">
        <input readonly :value="digit" class="input rounded-full text-center" :class="isFocused && value.length == i && 'outline outline-secondary'" placeholder="•">
    </template>
</div>
{%- endmacro %}
