<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="color-scheme" content="light dark">
    <link
        rel="stylesheet"
        href="https://cdn.jsdelivr.net/npm/@picocss/pico@2/css/pico.min.css"
    >
    <title>Pacuare API</title>
</head>
<body>
    <main class="container" style="padding-top: 50px;">
        <h1>Documentation Versions</h1>
        <ul>
            {% for v in versions %}
                <li>{{ v }} &mdash; <a href="/{{v}}/docs">Swagger UI</a> | <a href="/{{v}}/redoc">ReDoc</a></li>
            {% endfor %}
        </ul>
    </main>
</body>
</html>