{% extends "base.html" %}
{% import "partials.html" as partials %}
{% block title %}Welcome{% endblock %}
{% block content %}
<article class="prose dark:prose-invert mx-auto">
<h1>Welcome to Pacuare Reserve</h1>
<p>Welcome to the Pacuare Reserve developer portal!</p>
<p>This documentation is meant to help you get started with the Pacuare data platform. We recommend starting with the SQL quickstart, as it goes over some background information about the database and data structure. After that, feel free to get started experimenting with Python or dive right into the API.</p>
</article>
{% endblock %}
