{% extends "base.html" %}
{% import "partials.html" as partials %}
{% block title %}API Documentation{% endblock %}
{% block content %}
{% if user %}
{{partials.access_banner(email=user, full_access=full_access)}}
<hr>
<p class="text-center">
    <a href="/account">Account Settings</a> |
    <a href="/v1/auth/logout">Sign Out</a>
</p>
<hr>
{% else %}
<a href="/login" class="block text-center">Sign In</a>
<hr>
{% endif %}
<h1>Documentation Versions</h1>
<ul>
    {% for v in versions %}
    <li>
        {{ v }} &mdash; <a href="/{{v}}/scalar">Documentation</a>
    </li>
    {% endfor %}
</ul>
{% endblock %}
