{% extends "base.html" %}
{% import "forms.html" as forms %}
{% import "partials.html" as partials %}
{% block title %}Log In{% endblock title %}
{% block content %}
<h1 class="text-2xl font-bold text-center pb-2">Log In</h1>
<form x-data="loginForm" action="/v1/auth/verify" method="post" class="flex flex-col items-stretch max-w-xl m-auto">
    {% if error %}
    {% call partials.banner(danger=True) %}
    Authentication failed
    {% endcall %}
    {% endif %}
    <template x-if="error">
        {% call partials.banner(danger=True) %}
        Authentication failed
        {% endcall %}
    </template>
    <input type="hidden" name="return_to" value="{{ return or '/' }}"/>

    <fieldset class="fieldset flex flex-1 flex-col items-stretch">
        <input type="email" name="email" x-model="email" class="input block w-full" placeholder="Email"/>

        <template x-if="!otpVisible">
            <button @click="sendOtp" class="btn btn-neutral block">Log In</button>
        </template>
        <template x-if="otpVisible">
            <div class="w-full flex flex-col">
                <label for="code" class="label py-1 text-center block w-full">Verification Code</label>
                {{ forms.otp_input("code") }}
                <button type="submit" class="btn btn-primary block mt-2 w-full">Log In</button>
            </div>
        </template>
    </fieldset>
</form>
{% endblock %}

{% block scripts %}
<script src="/js/login.js"></script>
{{ forms.scripts() }}
{% endblock %}
