{% import "icons.html" as icons %}

{% macro banner(danger=False) -%}
{% set color_styles = 'alert-error' if danger else 'alert-success' %}
<div role="alert" class="alert alert-soft {{color_styles}}">
    {{ caller() }}
</div>
{% endmacro %}

{% macro access_banner(email, full_access) -%}
{% set access_s = 'full access' if full_access else 'restricted' %}
{% call banner(danger=full_access) %}
    {% if full_access %}
    {{icons.shield_alert()}}
    {% else %}
    {{icons.shield_check()}}
    {% endif %}
    {{email}} &mdash; {{access_s}}
{% endcall %}
{% endmacro %}
