{% extends "base.html" %}
{% import "table.html" as table %}
{% import "icons.html" as icons %}

{% block title %}Query{% endblock %}

{% block content %}

<form class="flex flex-col lg:flex-row w-full h-full items-stretch justify-stretch gap-2 max-h-[calc(100vh-(var(--spacing)*20))]" method="post">
    <textarea class="textarea card-border rounded-lg flex-1 w-full lg:w-auto font-mono!" name="query" placeholder="Query">{{query}}</textarea>
    <button type="submit" class="btn btn-ghost btn-square place-items-center self-center not-lg:w-full lg:h-full rounded-lg" title="Query">{{icons.play()}}</button>
    <div class="flex-1 card card-border rounded-lg overflow-auto">
        {% if result %}
            {{table.results_table(result.columns, result.values, 'table')}}
        {% endif %}
    </div>
</form>

{% endblock %}
